decoration_active_color "#000000"
decoration_border_width "1"
decoration_inactive_color "#ffffff"
decoration_title_height "auto"
decorations "1"
hacks "0"
hot_corner "1"
hot_corner_threshold "600"
idle_timeout "300000"
notifications "0"
padding "5"
terminal "poison-terminal --maximize"
